examples/NODERED/nodered example.txt
[{"id":"e3a8bdbfc38e52e6","type":"mqtt in","z":"a8233461549e2c39","name":"","topic":"stat/c15e15/lwt","qos":"0","datatype":"json","broker":"e27d6b30.26f748","nl":false,"rap":false,"inputs":0,"x":240,"y":440,"wires":[["8d90fb1818bdaca1"]]},{"id":"e82be554a59ddfb5","type":"inject","z":"a8233461549e2c39","name":"i2c sensor update (default)","props":[{"p":"payload"},{"p":"retain","v":"false","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"updateMillis\":60000}","payloadType":"json","x":1010,"y":180,"wires":[["ab61d337e7872621"]]},{"id":"2b6656fb75ea6683","type":"comment","z":"a8233461549e2c39","name":"LWT","info":"","x":210,"y":400,"wires":[]},{"id":"2fca4b0bb455048b","type":"comment","z":"a8233461549e2c39","name":"MQTT Config","info":"","x":230,"y":240,"wires":[]},{"id":"1fe9d9923a6d3ab4","type":"comment","z":"a8233461549e2c39","name":"MQTT Command","info":"","x":240,"y":340,"wires":[]},{"id":"68835efebf428525","type":"change","z":"a8233461549e2c39","name":"cmnd/c15e15","rules":[{"t":"set","p":"topic","pt":"msg","to":"cmnd/c15e15","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":340,"wires":[["dec9a18f0d2d7d5c"]]},{"id":"dec9a18f0d2d7d5c","type":"mqtt out","z":"a8233461549e2c39","name":"MQTT out","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e27d6b30.26f748","x":940,"y":340,"wires":[]},{"id":"ab61d337e7872621","type":"change","z":"a8233461549e2c39","name":"conf/c15e15","rules":[{"t":"set","p":"topic","pt":"msg","to":"conf/c15e15","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":280,"wires":[["dec9a18f0d2d7d5c"]]},{"id":"4c620b710dbbd13b","type":"mqtt in","z":"a8233461549e2c39","name":"","topic":"tele/c15e15","qos":"0","datatype":"json","broker":"e27d6b30.26f748","nl":false,"rap":false,"inputs":0,"x":230,"y":540,"wires":[["18de1345d0bdcb21"]]},{"id":"18de1345d0bdcb21","type":"debug","z":"a8233461549e2c39","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":410,"y":540,"wires":[]},{"id":"416d1a011084e572","type":"comment","z":"a8233461549e2c39","name":"Sleep State","info":"","x":230,"y":600,"wires":[]},{"id":"64ec2da624558c59","type":"inject","z":"a8233461549e2c39","name":"Sleep ON","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"str","x":240,"y":640,"wires":[["517534b52f641017"]]},{"id":"2ee327f63d9e9a3d","type":"inject","z":"a8233461549e2c39","name":"Sleep OFF","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"str","x":240,"y":680,"wires":[["517534b52f641017"]]},{"id":"517534b52f641017","type":"state-machine","z":"a8233461549e2c39","name":"","triggerProperty":"payload","triggerPropertyType":"msg","stateProperty":"payload","statePropertyType":"msg","initialDelay":"0","persistOnReload":false,"outputStateChangeOnly":false,"throwException":false,"states":["{\"sleep\":false}","{\"sleep\":true}"],"transitions":[{"name":"1","from":"{\"sleep\":false}","to":"{\"sleep\":true}"},{"name":"0","from":"{\"sleep\":true}","to":"{\"sleep\":false}"}],"x":440,"y":660,"wires":[["e40decfa3460a2af"]]},{"id":"54537ebbf8a1fa59","type":"change","z":"a8233461549e2c39","name":"config","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t   \"year\":$.myyear,\t   \"month\":$.mymonthn,\t   \"day\":$.mydom,\t   \"hour\":$.myhour,\t   \"minute\":$.myminute,\t   \"seconds\":$.mysecond\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":780,"wires":[["4cf8146c92e12bee"]]},{"id":"e22c45dc9656fe7f","type":"link in","z":"a8233461549e2c39","name":"mqtt out - cmnd","links":["472c0c6dea513d89","e40decfa3460a2af"],"x":355,"y":340,"wires":[["68835efebf428525"]]},{"id":"e40decfa3460a2af","type":"link out","z":"a8233461549e2c39","name":"","mode":"link","links":["e22c45dc9656fe7f"],"x":555,"y":660,"wires":[]},{"id":"3d3097fd437a44cd","type":"link in","z":"a8233461549e2c39","name":"mqtt out - conf","links":["4cf8146c92e12bee"],"x":335,"y":240,"wires":[["ab61d337e7872621"]]},{"id":"aa465a98acc10c16","type":"simpletime","z":"a8233461549e2c39","name":"","mydate":false,"myymd":false,"myyear":true,"mymonth":false,"mymonthn":true,"mydom":true,"mydoy":false,"myday":false,"myhourpm":false,"myhour":true,"mytime":false,"mytimes":false,"myminute":true,"myminutes":false,"mysecond":true,"mymillis":false,"myepoch":false,"myrawdate":false,"mypm":false,"x":430,"y":780,"wires":[["54537ebbf8a1fa59"]]},{"id":"51a69b483555f682","type":"inject","z":"a8233461549e2c39","name":"Update Time","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":250,"y":780,"wires":[["aa465a98acc10c16"]]},{"id":"0727852d54c11ced","type":"comment","z":"a8233461549e2c39","name":"Update RTC","info":"","x":230,"y":740,"wires":[]},{"id":"4cf8146c92e12bee","type":"link out","z":"a8233461549e2c39","name":"","mode":"link","links":["3d3097fd437a44cd"],"x":655,"y":780,"wires":[]},{"id":"199e32cf4bb5b532","type":"comment","z":"a8233461549e2c39","name":"Tele Data","info":"","x":220,"y":500,"wires":[]},{"id":"8d90fb1818bdaca1","type":"switch","z":"a8233461549e2c39","name":"","property":"payload.online","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":440,"wires":[["22a80f87a760d6b0"],["52d45e515586d180"]]},{"id":"22a80f87a760d6b0","type":"change","z":"a8233461549e2c39","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":420,"wires":[["1b4f9cdb95136ba1"]]},{"id":"52d45e515586d180","type":"change","z":"a8233461549e2c39","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":460,"wires":[["1b4f9cdb95136ba1"]]},{"id":"064d4b18cfab4a7f","type":"inject","z":"a8233461549e2c39","name":"Screen off","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"screenMode\":\"off\"}","payloadType":"json","x":240,"y":880,"wires":[["472c0c6dea513d89"]]},{"id":"394a4d6b69c83eb2","type":"inject","z":"a8233461549e2c39","name":"Screen one (default)","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"screenMode\":\"one\"}","payloadType":"json","x":270,"y":920,"wires":[["472c0c6dea513d89"]]},{"id":"ce1a6a5f5c1287b6","type":"inject","z":"a8233461549e2c39","name":"Screen two","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"screenMode\":\"two\"}","payloadType":"json","x":240,"y":960,"wires":[["472c0c6dea513d89"]]},{"id":"f3c692bb8b843141","type":"inject","z":"a8233461549e2c39","name":"Screen three","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"screenMode\":\"three\"}","payloadType":"json","x":250,"y":1000,"wires":[["472c0c6dea513d89"]]},{"id":"08e3688da083c190","type":"inject","z":"a8233461549e2c39","name":"Screen four","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"screenMode\":\"four\"}","payloadType":"json","x":250,"y":1040,"wires":[["472c0c6dea513d89"]]},{"id":"472c0c6dea513d89","type":"link out","z":"a8233461549e2c39","name":"","mode":"link","links":["e22c45dc9656fe7f"],"x":815,"y":880,"wires":[]},{"id":"993b7a18930e1c6d","type":"inject","z":"a8233461549e2c39","name":"custom text 1","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"oneOLED\":\"sum\",\"twoOLED\":\"text\"}","payloadType":"json","x":250,"y":1120,"wires":[["472c0c6dea513d89"]]},{"id":"d89a77c416deea80","type":"simpletime","z":"a8233461549e2c39","name":"","mydate":false,"myymd":false,"myyear":false,"mymonth":false,"mymonthn":false,"mydom":false,"mydoy":false,"myday":false,"myhourpm":false,"myhour":false,"mytime":true,"mytimes":false,"myminute":false,"myminutes":false,"mysecond":false,"mymillis":false,"myepoch":false,"myrawdate":false,"mypm":false,"x":430,"y":1160,"wires":[["b36b0b76639e061d"]]},{"id":"b36b0b76639e061d","type":"change","z":"a8233461549e2c39","name":"command","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t   \"screenMode\":\"five\",\t   \"oneOLED\":$.text,\t   \"twoOLED\":$.mytime\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1160,"wires":[["472c0c6dea513d89"]]},{"id":"beaecf0f2a85df77","type":"inject","z":"a8233461549e2c39","name":"doorbell example","props":[{"p":"text","v":"Front bell","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":260,"y":1160,"wires":[["d89a77c416deea80"]]},{"id":"9c5a93282ed92920","type":"inject","z":"a8233461549e2c39","name":"Temp C (default)","props":[{"p":"payload"},{"p":"retain","v":"false","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"tempMode\":\"c\"}","payloadType":"json","x":520,"y":140,"wires":[["ab61d337e7872621"]]},{"id":"6578543a32388e27","type":"inject","z":"a8233461549e2c39","name":"Temp F","props":[{"p":"payload"},{"p":"retain","v":"false","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"tempMode\":\"f\"}","payloadType":"json","x":490,"y":100,"wires":[["ab61d337e7872621"]]},{"id":"b5ecb720cef46d8e","type":"inject","z":"a8233461549e2c39","name":"Clock 24 (default)","props":[{"p":"payload"},{"p":"retain","v":"false","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"clockMode\":\"24\"}","payloadType":"json","x":280,"y":140,"wires":[["ab61d337e7872621"]]},{"id":"f4c0289a8a4c002c","type":"inject","z":"a8233461549e2c39","name":"Clock 12","props":[{"p":"payload"},{"p":"retain","v":"false","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"clockMode\":\"12\"}","payloadType":"json","x":260,"y":100,"wires":[["ab61d337e7872621"]]},{"id":"1f192fea3a1b4588","type":"inject","z":"a8233461549e2c39","name":"Config Payload (default)","props":[{"p":"payload"},{"p":"retain","v":"false","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"tempMode\":\"c\",\"clockMode\":\"24\",\"updateMillis\":60000,\"sleepOledenable\":true}","payloadType":"json","x":280,"y":280,"wires":[["ab61d337e7872621"]]},{"id":"b7e94594fce719ca","type":"inject","z":"a8233461549e2c39","name":"i2c sensor update fast","props":[{"p":"payload"},{"p":"retain","v":"false","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"updateMillis\":2500}","payloadType":"json","x":1000,"y":140,"wires":[["ab61d337e7872621"]]},{"id":"b8453acf3e8df73f","type":"inject","z":"a8233461549e2c39","name":"i2c sensor update off","props":[{"p":"payload"},{"p":"retain","v":"false","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"updateMillis\":0}","payloadType":"json","x":990,"y":100,"wires":[["ab61d337e7872621"]]},{"id":"0201e391b6bc05a8","type":"comment","z":"a8233461549e2c39","name":"OLED Control","info":"","x":230,"y":840,"wires":[]},{"id":"28828a2f96513c0d","type":"inject","z":"a8233461549e2c39","name":"Screen five","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"screenMode\":\"five\"}","payloadType":"json","x":240,"y":1080,"wires":[["472c0c6dea513d89"]]},{"id":"1b4f9cdb95136ba1","type":"state-machine","z":"a8233461549e2c39","name":"","triggerProperty":"payload","triggerPropertyType":"msg","stateProperty":"payload","statePropertyType":"msg","initialDelay":"0","persistOnReload":true,"outputStateChangeOnly":true,"throwException":false,"states":["offline","online"],"transitions":[{"name":"true","from":"offline","to":"online"},{"name":"true","from":"online","to":"online"},{"name":"false","from":"online","to":"offline"},{"name":"false","from":"offline","to":"offline"}],"x":800,"y":440,"wires":[["ea54b8c8c361cf2a"]]},{"id":"ea54b8c8c361cf2a","type":"debug","z":"a8233461549e2c39","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":970,"y":440,"wires":[]},{"id":"a3138f26d74eb80c","type":"inject","z":"a8233461549e2c39","name":"sleep disabled","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"sleepOledenable\":false}","payloadType":"json","x":730,"y":100,"wires":[["ab61d337e7872621"]]},{"id":"42357261f091dc7b","type":"inject","z":"a8233461549e2c39","name":"sleep default","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"sleepOledenable\":true}","payloadType":"json","x":730,"y":140,"wires":[["ab61d337e7872621"]]},{"id":"3e8f5f332e373084","type":"comment","z":"a8233461549e2c39","name":"MQTT Config options","info":"","x":260,"y":60,"wires":[]},{"id":"e27d6b30.26f748","type":"mqtt-broker","name":"","broker":"192.168.0.54","port":"1883","clientid":"test","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":4,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]